---
layout: default
banner: true
---
<!-- 3 col section with info -->
  <section class="">
    <div class="grid gap-10 mx-auto md:grid-cols-3 max-w-screen-2xl">

      <!-- used flex here so that the vertical text takes up a small amount of space and leaving the rest for the div with bg image -->
      <div class="flex self-start">
        <p class="px-2 vertical-text">
          baro architecture
        </p>
        <div class="grow relative aspect-portrait bg pb-[50%]" style="background-image: url('https://picsum.photos/id/1081/600/400');">
          <div class="absolute inline-block w-5 h-5 bg-white rounded-full navpoint pulsing-animation bottom-8 right-8 pulse-animation">
            <div class="right-[1rem] absolute top-0 overflow-hidden w-0 sub-points block whitespace-nowrap">41°24'12.2"N 2°10'26.5"E</div>
          </div> 
        </div>
      </div>
      <!-- col span 2 + coloumns 2 means that on desktop it will evenly break up the content between the 2 columns -->
      <div class="gap-10 md:col-span-2 md:columns-2">
        <h2 class="mb-0">Barō -</h2>
        <h3 class="mb-8 text-3xl">Beyond the design</h3>
        <p>With a rich history spanning decades, Baro Architecture has become synonymous with architectural excellence and a forward-thinking approach to the built environment.
        </p>
        
        <p>
          Baro Architecture was founded by visionary architect, Alejandro Baro, who sought to challenge the conventional boundaries of design and create spaces that inspire and elevate the human experience. With a passion for blending artistry, functionality, and sustainability, Baro Architecture has left an indelible mark on the architectural landscape.
        </p>
        <p>
          Our team of talented architects and designers brings a diverse range of expertise and a shared commitment to pushing the boundaries of creativity. We believe that every project presents an opportunity to craft unique solutions that not only meet our clients' needs but also leave a lasting impact on communities and the environment.

        </p>
        <p>
          Baro Architecture's portfolio spans a wide range of projects, from awe-inspiring residential homes and commercial spaces to iconic cultural landmarks.
        </p>

        <!-- arrow color is passed with the color variable -->
        <div class="w-20 mt-8 ml-auto">
          <a href="#" class="block">
            {% include arrow.html color='#000' %}
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- first property  -->
  <section class="bg-[var(--dark)] text-white">
    <div class="grid items-end gap-8 mx-auto md:grid-cols-2 pb-5p max-w-screen-2xl">

      {% assign sorted = site.property | sort: 'date' %}
      {% for prop in sorted limit:1 %}
      <div class="">
        <h2 class="relative w-1 scroll-in-from-bottom">{{prop.title}}</h2>
      </div>
      
      <div>
        <h3>Brief</h3>  
        <div class="gap-8 md:columns-2">
          <p>{{prop.brief}}</p>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="min-h-[25vh] relative">
      <img src="{{prop.featured_image}}" alt="building" class="img-overlay">
      <div class="absolute w-4 h-4 bg-white rounded-full top-6 right-6 pulse-animation">
      </div>
    </div>
    <div class="flex items-center gap-16 py-8">
      <div>
        <h3>
          Date
        </h3>
        <p class="text-sm font-light">{{prop.date | date_to_string}}</p>
      </div>
      <div>
        <h3>
          Cotractor
        </h3>
        <p class="text-sm font-light">{{prop.contractor}}</p>
      </div>
      <div>
        <h3>Principle Architect
        </h3>
        <p class="text-sm font-light">{{prop.architect}}</p>
      </div>
      <div class="flex-1"></div>
      <div>
        <a href="{{prop.url}}">
          {% include arrow.html color='#fff' %}
        </a>
      </div>
    </div>
    {% endfor %}
    
  </section>

  <!-- first featured property -->

  <section class="">
    <div class="grid mx-auto md:grid-cols-2 pb-5p md:gap-16 max-w-screen-2xl">
      {% assign featured = site.property | where:'featured', 'true' %}
      {% for prop in featured limit:1 %}
      <div class="">
        <h2 class="text-9xl w-[150%] mb-16 capitalize relative z-10 scroll-in-from-left">Featured property</h2>
        <div class="px-12">
        <h3>{{prop.title}}</h3>
          <p>
            {{prop.brief}}
          </p>
          <p>
            {{prop.breif_continue_html}}
          </p>
          
          <div class="flex items-center justify-between mt-6">
            <span class="font-bold">see it</span>
            {% include arrow.html color='#000' %}
          </div>
          <div class="pt-12 text-right">
            <h3 class="mt-4 mb-0">
              Date
            </h3>
            <span class="">{{prop.date | date_to_string}}</span>
            <h3 class="mt-4 mb-0">
              Cotractor
            </h3>
            <span class="">{{prop.contractor}}</span>
            <h3 class="mt-4 mb-0">
              Principle Architect
            </h3>
            <span class="">{{prop.architect}}</span>
            
          </div>
        </div>
        
      </div>
      <div class="flex items-stretch mt-8 md:mt-32">
        <div class="grow bg-cover bg-center pb-[50%] scroll-in-from-bottom" style="background-image: url('{{prop.featured_image}}');"></div>
        <p class="px-4 vertical-text">Barō Architecture</p>
      </div>
    {% endfor %}
    </div>
  </section>


  <section class="bg-[var(--dark)] text-white">
    <div class="grid gap-8 mx-auto md:grid-cols-2 lg:grid-cols-3 md:gap-16 max-w-screen-2xl">
        <div class="flex items-start gap-4">
          <div class="hidden w-16 h-16 bg-white rounded-full sm:block scroll-in-from-left"></div>
          <div class="flex-1">
            <h2 class="text-[2rem] scroll-in-from-bottom">
              Beyond the design
            </h2>
            <div class="flex items-center gap-4">
              <p class="mb-0">Contact us</p>
              <div class="flex-1 text-right">
                {% include arrow.html color='#fff' %}
              </div>
            </div>
          </div>
        </div>
        <div class="lg:col-span-2">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia iure voluptatum est laborum harum provident voluptas aperiam dolorum adipisci, ipsam repudiandae nulla, deleniti consectetur eum. Quasi minima consequuntur asperiores?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse mollitia iure voluptatum est laborum harum provident voluptas aperiam dolorum adipisci, ipsam repudiandae nulla, deleniti consectetur eum. Quasi minima consequuntur asperiores?</p>
        </div>
      </div>
  </section>